* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;
  --gray-100: #E2E4E9;
  --gray-200: #C0C4CE;
  ---gray-300: #878EA1;
  --gray-400: #292C34;
  --gray-500: #16181D;
  --gray-600: #0D0E11;

  --font-family-one: "Asap", sans-serif;
  --font-family-two: "Inconsolata", sans-serif;
  --font-family-three: "Maven Pro", sans-serif;

  --text-lg: 800 56px/120% var(--font-family-one);
  --text-md: 800 24px/120% var(--font-family-one);
  --text-sm: 800 16px/120% var(--font-family-one):

  --sb: 600 20px/120% var(--font-family-two);
  --mav-md: 600 16px/140% var(--font-family-three);
  --mav-sm: 600 14px/140% var(--font-family-three);

}