* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;
  --gray-100: #E2E4E9;
  --gray-200: #C0C4CE;
  --gray-300: #878EA1;
  --gray-400: #292C34;
  --gray-500: #16181D;
  --gray-600: #0D0E11;

  --font-family-one: "Asap", sans-serif;
  --font-family-two: "Inconsolata", sans-serif;
  --font-family-three: "Maven Pro", sans-serif;

  --text-lg: 700 56px/120% var(--font-family-one);
  --title-md: 700 24px/120% var(--font-family-one);
  --title-sm: 700 16px/120% var(--font-family-one);

  --sb: 500 20px/120% var(--font-family-two);
  --text-md: 500 16px/140% var(--font-family-three);
  --text-sm: 500 14px/140% var(--font-family-three);

}

img {
  max-width: 100%;
}

.container {
  max-width: 1366px;
  margin-inline: auto;
}

body {
  background: var(--gray-400);
}

.grid {
  display: grid;
}

.grid-auto-flow {
  grid-auto-flow: column;
}

.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}

 .gap-24 {
  gap: 24px;
 }

 h2 {
  color: var(--gray-100);
  font: var(--title-sm);
 }