#my {
  min-height: 750px;
  background: url(../assets/Background_Intro.png) center/cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 80px;

  & div:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      border-radius: 100%;
    }

    h2 {
      color: var(--gray-200);
      font: var(--sb);
      margin-bottom: 10px;

      span {
        color: var(--red);
      }
    }

    h1 {
      color: var(--gray-100);
      font: var(--text-lg);
    }

    p {
      color: var(--gray-300);
      font: var(--text-sm);
      margin-top: 20px;
      max-width: 680px;
      text-align: center;
    }

    div {
      width: 96px;
      height: 96px;
      display: flex;
      align-items: center;
      position: relative;
      justify-content: center;
      border: solid 1px var(--red);
      border-radius: 50%;
      margin-bottom: 56px;


      span {
        position: absolute;
        width: 31px;
        height: 25px;
        background: url(../assets/Code.png);
        bottom: 0;
        right: 0;
      }

    }

  }

  .tools {

    display: flex;
    gap: 16px;

    span {

    img {
      width: 20px;
      height: 20px;
      object-fit: cover;
    }

    display: flex;
    padding: 8px 16px;
    border-radius: 50px;
    gap: 8px;
    align-items: center;
    background: var(--gray-400);
    color: var(--gray-200);
    font: var(--tex-md);
    }
  }

  & img:nth-child(3){
    margin-top: 14px;
  }
}